* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/bg.jpg) no-repeat center;
  background-size: cover;
  font-family: sans-serif;
  color: #fff;
}

h2 {
  color: #05c98e;
}

a {
  color: #81c2db;
}

.login-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  background-color: rgba(0, 0, 0, 0.3);
}

#forgot-pw {
  display: none;
}