* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Concert One';
  letter-spacing: 10px;
  color: #fff;
}

.login-page {
  background-image: url("../images/MountainRange.jpg");
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  background-size: cover;
}

h2 {
  color: #20a520;
  margin: 10%;
  margin-bottom: 10%;
  font-size: 3.0em;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #658eff;
}

.fas {
  color: rgb(52, 140, 240);
}

.login-div, .contact-div, .edit-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form, .contact-card {
  position: relative;
  /* height: 90vh; */
  width: 100vw;
  max-width: 600px;
  max-height: 950px;
  padding: 40px 40px 40px;
  /* background: rgba(102, 110, 102, 0.658); */
  background: rgba(255, 255, 255, 0.658);
  border-radius: 10px;
  border-color: black;
  color: rgb(46, 46, 46);
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

.form, .contact-div h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.form .input-div {
  position: relative;
}

.contact-item {
  margin: 10%;
  text-align: justify;
}

.contact-info {
  letter-spacing: 0.2em;
}

.form .input-div input {
  width: 100%;
  padding: 10px 0;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(151, 151, 151);
  outline: none;
  background-color: transparent;
  color: inherit;
}

.form .input-div label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: large;
  pointer-events: none;
  transition: .3s ease-out;
  color: rgb(34, 34, 34);
}

.login-div .input-div input:focus + label,
.login-div .input-div input:valid + label {
  transform: translateY(-18px);
  color: rgb(110, 110, 110);
  font-size: .8rem;
}

.login-btn, .register-btn {
  margin-left: 20px;
  width: 200px;
  height: 36px;
  border: 1px solid #007bff;
  background: #007bff;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.submit-btn {
  display: block;
  margin-left: auto;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  background: rgb(2, 103, 255);
  color: #fff;
}

.edit-div .submit-btn {
  margin: auto;
}

.delete-btn {
  display: block;
  margin-left: auto;
  margin-top: 10%;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 5px;
  background:rgb(255, 2, 2);
  color: #fff;
}

.fa-trash-alt {
  color: #fff;
}


.login-div .form p {
  margin-top: 10px;
}

#register {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0);
  opacity: 0;
  transition: 0.6s;
}

#register:target {
  height: 100%;
  opacity: 1;
  display: flex;
}

.edit-link {
  margin: auto;
  text-align: center;
}

.close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}
